.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 2em;
    margin-top: 1.2%;
}
.nav-link{
    font-size: 1.4em;
    text-decoration: underline;
}
.navbar-nav{
    position: absolute;
    right: 3%;
}

.nav-item{
    text-decoration: underline;
}
